/*
  DEVELOP: 各種カラー変数
  --veditable-bg-color: #ffffff;
  --veditable-bg-even-color: #f8f8f8;
  --veditable-fg-color: #202020;
  --veditable-header-bg-color: #e0e0e0;
  --veditable-header-fg-color: #202020;
  --veditable-accent-color: #0080f0;
  --veditable-editing-color: #e0f0ff;
  --veditable-notice-color: #f00000;
  --veditable-border-color: #c0c0c0;
 */
.veditable {
  --table-bg-color: var(--veditable-bg-color, #ffffff);
  --table-bg-even-color: var(--veditable-bg-even-color, var(--veditable-bg-color, #f8f8f8));
  --table-fg-color: var(--veditable-fg-color, #202020);
  --table-header-bg-color: var(--veditable-header-bg-color, #e0e0e0);
  --table-header-fg-color: var(--veditable-header-fg-color, #202020);
  --table-accent-color: var(--veditable-accent-color, #0080f0);
  --table-editing-color: var(--veditable-editing-color, #e0f0ff);
  --table-notice-color: var(--veditable-notice-color, #f00000);
  --table-border-color: var(--veditable-border-color, #c0c0c0);

  outline: 3px solid transparent;
  color: var(--table-fg-color);
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: scroll;
  position: relative;
  &[data-is-focused="true"] {
    outline-color: var(--table-accent-color);
  }

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  table {
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    background-clip: padding-box;
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    cursor: default;
    user-select: none;
    vertical-align: middle;
  }

  th {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-fg-color);
    padding: 0 0.5em;
    white-space: pre;
  }
  thead th {
    top: 0;
    z-index: 2;
  }
  &[data-is-floating-thead="true"] thead th {
    position: sticky;
  }
  thead tr:first-child th {
    border-top: 1px solid var(--table-border-color);
  }
  thead tr &__corner,
  tbody th {
    border-left: 1px solid var(--table-border-color);
  }
  thead tr &__corner {
    z-index: 3;
  }
  thead tr:not(:last-child) &__corner {
    border-bottom-color: var(--table-header-bg-color);
  }
  tbody th {
    z-index: 2;
  }
  &:not([data-floating-columns="0"]) [data-is-floating="true"] {
    position: sticky;
  }

  td {
    position: relative;
    white-space: pre;
  }
  tr:nth-child(odd) td {
    background-color: var(--table-bg-color);
  }
  tr:nth-child(even) td {
    background-color: var(--table-bg-even-color);
  }
  tr td[data-is-floating="true"] {
    position: sticky;
  }
  tr td[data-required-type="boolean"] {
    text-align: center;
  }
  tr td[data-required-type="number"] {
    text-align: right;
  }
  tr td[data-type-is-valid="false"] {
    background-color: var(--table-notice-color);
    color: var(--table-bg-color);
  }
  tr td[data-is-required="true"][data-is-empty="true"] {
    background-color: var(--table-notice-color);
    color: var(--table-bg-color);
  }
  tr td[data-is-ruled="false"] {
    background-color: var(--table-notice-color);
    color: var(--table-bg-color);
  }
  tr td[data-is-focused="true"]::after {
    border: 3px solid var(--table-accent-color);
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  tr td[data-is-editing="true"] {
    background-color: var(--table-editing-color);
  }

  // WANT: 諸々の理由から thead th の高さを固定している
  $veditable--row-height: 2.5em;
  thead th {
    height: $veditable--row-height;
  }
  thead tr:nth-child(2) th {
    top: $veditable--row-height;
  }

  // WANT: 諸々の理由から tbody td の幅を固定している
  $veditable--column-width: 6em;
  tbody th {
    min-width: $veditable--column-width;
  }
  thead th[data-is-floating="true"],
  tbody td[data-is-floating="true"] {
    min-width: $veditable--column-width;
  }
  thead th[data-is-floating="true"] {
    z-index: 3;
  }
  tbody td[data-is-floating="true"] {
    z-index: 1;
  }
  @for $i from 0 through 10 {
    [data-column="#{$i}"][data-is-floating="true"] {
      left: $veditable--column-width * $i;
    }
  }

  &--error {
    font-size: 0.625em;
    line-height: 1;
    margin: 0.5em;
    text-align: left;

    [data-is-editing="true"] & {
      display: none;
    }
  }

  &--label {
    line-height: 1.25;
    padding: 0.5em;
    &:empty {
      display: none;
    }
    [data-is-disabled="true"] & {
      opacity: 0.5;
    }
  }

  @import "./extensions/array-extension";
  @import "./extensions/boolean-extension";
  @import "./extensions/button-extension";
  @import "./extensions/checkbox-extension";
  @import "./extensions/link-extension";
  @import "./extensions/radio-extension";
  @import "./extensions/select-extension";
  @import "./extensions/string-extension";
  @import "./extensions/text-extension";
}
