&--string {
  & > input {
    appearance: none;
    background-color: transparent;
    border-style: none;
    display: block;
    font-family: var(--veditable-font-family);
    font-size: 1em;
    line-height: 1.25;
    outline: none;
    padding: 0.5em;
    white-space: normal;
    width: 100%;
    min-width: 6em; // TODO:
    &[type="number"] {
      text-align: right;
    }
    &[readonly="readonly"] {
      opacity: 0.5;
    }
  }
}
