%editable-table__error-message {
  display: block;
  font-size: 0.5em;
  line-height: 1;
  padding: 0.5em;
  text-align: left;
}

/*
  DEVELOP: 各種カラー変数
  --editable-table-bg-color: #ffffff;
  --editable-table-fg-color: #202020;
  --editable-table-header-color: #e0e0e0;
  --editable-table-accent-color: #0080f0;
  --editable-table-editing-color: #e0f0ff;
  --editable-table-notice-color: #f00000;
  --editable-table-border-color: #c0c0c0;
 */
.editable-table {
  --table-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
  --table-bg-color: var(--editable-table-bg-color, #ffffff);
  --table-fg-color: var(--editable-table-fg-color, #202020);
  --table-header-color: var(--editable-table-header-color, #e0e0e0);
  --table-accent-color: var(--editable-table-accent-color, #0080f0);
  --table-editing-color: var(--editable-table-editing-color, #e0f0ff);
  --table-notice-color: var(--editable-table-notice-color, #f00000);
  --table-border-color: var(--editable-table-border-color, #c0c0c0);

  outline: 3px solid transparent;
  color: var(--table-fg-color);
  font-family: var(--table-font-family);
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: scroll;
  position: relative;
  &[data-is-focused="true"] {
    outline-color: var(--table-accent-color);
  }

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  table {
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    background-clip: padding-box;
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    cursor: default;
    user-select: none;
    vertical-align: middle;
  }

  th {
    background-color: var(--table-header-color);
    padding: 0 0.5em;
    white-space: pre;
  }
  thead th {
    top: 0;
    z-index: 2;
  }
  &[data-is-floating-thead="true"] thead th {
    position: sticky;
  }
  thead tr:first-child th {
    border-top: 1px solid var(--table-border-color);
  }
  thead tr &__corner,
  tbody th {
    border-left: 1px solid var(--table-border-color);
  }
  thead tr &__corner {
    z-index: 3;
  }
  thead tr:not(:last-child) &__corner {
    border-bottom-color: var(--table-header-color);
  }
  tbody th {
    z-index: 2;
  }
  &:not([data-floating-columns="0"]) [data-is-floating="true"] {
    position: sticky;
  }

  td {
    background-color: var(--table-bg-color);
    position: relative;
    white-space: pre;
    &[data-is-floating="true"] {
      position: sticky;
    }
    &[data-required-type="boolean"] {
      text-align: center;
    }
    &[data-required-type="number"] {
      text-align: right;
    }
    &[data-type-is-valid="false"] {
      background-color: var(--table-notice-color);
      color: var(--table-bg-color);

      &[data-is-editing="false"]::before {
        @extend %editable-table__error-message;
        content: "正しい値ではありません";
      }
    }
    &[data-is-required="true"][data-is-empty="true"] {
      background-color: var(--table-notice-color);
      color: var(--table-bg-color);

      &[data-is-editing="false"]::before {
        @extend %editable-table__error-message;
        content: "入力必須項目です";
      }
    }
    &[data-is-ruled="false"] {
      background-color: var(--table-notice-color);
      color: var(--table-bg-color);

      &[data-is-editing="false"]::before {
        @extend %editable-table__error-message;
        content: "正しい値ではありません";
      }
    }
    &[data-is-focused="true"]::after {
      border: 3px solid var(--table-accent-color);
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &[data-is-editing="true"] {
      background-color: var(--table-editing-color);
    }
  }

  // WANT: 諸々の理由から thead th の高さを固定している
  $editable-table--row-height: 2.5em;
  thead th {
    height: $editable-table--row-height;
  }
  thead tr:nth-child(2) th {
    top: $editable-table--row-height;
  }

  // WANT: 諸々の理由から tbody td の幅を固定している
  $editable-table--column-width: 6em;
  tbody th {
    min-width: $editable-table--column-width;
  }
  thead th[data-is-floating="true"],
  tbody td[data-is-floating="true"] {
    min-width: $editable-table--column-width;
  }
  thead th[data-is-floating="true"] {
    z-index: 3;
  }
  tbody td[data-is-floating="true"] {
    z-index: 1;
  }
  @for $i from 0 through 10 {
    [data-column="#{$i}"][data-is-floating="true"] {
      left: $editable-table--column-width * $i;
    }
  }

  @import "./extensions/array-extension";
  @import "./extensions/boolean-extension";
  @import "./extensions/button-extension";
  @import "./extensions/checkbox-extension";
  @import "./extensions/link-extension";
  @import "./extensions/radio-extension";
  @import "./extensions/select-extension";
  @import "./extensions/string-extension";
  @import "./extensions/text-extension";

  &--label {
    line-height: 1.25;
    padding: 0.5em;
    [data-is-disabled="true"] & {
      opacity: 0.5;
    }
  }
}
